*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*body-------------------------------------------------------------------------------------------------*/

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/*Header-----------------------------------------------------------------------------------------------*/

header{
    background-color: #161925;
    height: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

/*imagen logo--------------------------*/

header img{
    width: 5rem;
}


/*Nav----------------------------------*/

header nav{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    
}


header nav ul{
    width: 40rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    color: white;
}

/*Div---------------------------*/

header div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

header div ul{
    list-style: none;
    width: 12rem ;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}

header div ul li a{
    color: white;
}


/*Article1---------------------------------------------------------------------------------------------*/

.articulo1{
background-color: #1b2a41;
height: 24rem;
}

.articulo1 p{
    color:aquamarine;
    font-size: 2.5rem;
    margin-top: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


/*Article2---------------------------------------------------------------------------------------------*/

.articulo2{
    background-color: cadetblue;
    height: 22rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

}

.articulo2 div{

    background-color: #1b2a41;
    width: 21rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.articulo2 div a h2{
    color: white;
}


.articulo2 div a .i1{
width: 18rem;
}

.articulo2 div a .i2{

    width: 18rem;
}

.articulo2 div a .i3{
width: 10rem;
}



/*Footer----------------------------------------------------------------------------------------------*/

footer{
    background-color: gray;
    height: 5rem;
}

footer div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

footer div a{
    color: white;
}

footer div p{
    color: white;
}