.articulo1{ /*Article1--------------------------------------*/
    background-color: #1b2a41;
    height: 24rem;

    p{
        color:aquamarine;
        font-size: 2.5rem;
        margin-top: 6rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}