footer{ /*Footer--------------------------------*/
    background-color: gray;
    height: 5rem;

    div{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        a{
            color: white;
        }

        p{
            color: white;
        }
    }

}